//== List Groups

.list-group-item {
	border-left-width: 0;
	border-right-width: 0;
	
	&:first-child {
		border-top-right-radius : 0;
		border-top-left-radius: 0;
	}

	&:last-child {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.list-group-item.media {
	margin-bottom: 0;
	margin-top: 0;
}